<style>
.Font_1 {
    background-color: black;
    color: rgb(111, 0, 255);
    font-size: large;
    font-style: italic;
}
.Font_2{
    background-color: darkblue;
    color: white;
    font-size: medium;
    font-style: normal;
}
</style> 